<div class="container">
  <div class="box">
    <form class="form-text" [formGroup]="loginform" (ngSubmit)="onSubmit()">
      <div>
        <h1 class="h1-header">
          <span class="F-color">F</span>
          <span class="u-color">u</span>
          <span class="n-color">n</span>
          <span class="d-color">d</span>
          <span class="o-color">o</span>
          <span class="o-color">o</span>
        </h1>
        <h3 class="header">Sign in</h3>
        <h3 class="header">User your Google Account</h3>
      </div>
      <div>
        <mat-form-field appearance="outline" class="w-100" >
          <mat-label>Email</mat-label>
          <input matInput ngModel formControlName="email"/>
        </mat-form-field>
        <div>
          <div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Enter your password</mat-label>
              <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" />
            </mat-form-field>
            <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            {{ hide ? "show" : "hide" }}
          </button>
          </div>
          <label for="">Forgot password?</label>
        </div>
        <div class="submit-row">
          <a class="button2">Sign in instead</a>
          <button type="submit" class="button1">Next</button>
        </div>
      </div>
    </form>
  </div>
</div>
