.icon{
    display: flex;
    justify-content: space-between;
    height: 25px;
}

.color{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 2px;
    border: 1px solid;
}
.align{
    display: flex;
    justify-content: space-between;

}