<div class="box">
  <form #login="ngForm" class="example-form">
    <div>
      <label for="" class="form-header">Google</label>
      <label for="" class="form-header"><h3>Sign in</h3></label>
      <label for="" class="form-header">User your Google Account</label>
    </div>
    <div class="input-box">
      <mat-form-field class="example-full-width">
        <mat-label>email</mat-label>
        <input matInput value="" class="" ngModel name="email" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>password</mat-label>
        <input matInput value="" ngModel name="email" />
      </mat-form-field>
      <div>
        <label for="">Forgot password?</label>
      </div>
      <div class="button-position">
        <button type="submit" class="button">Next</button>
      </div>
    </div>
  </form>
</div>
