.card {
  // display: flex;
  // justify-content: center;
  //   width: 60%;
  // border: 1px solid;
  // align-content: flex-start;
  box-shadow: 1px 1px 6px 1px #848181;
}

.outter-card {
  width: 50%;
  margin: auto;
}

.form-text {
  display: flex;
  flex-direction: column;
}
.create {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}
.button {
  display: flex;
  width: 10%;
  margin-left: auto;
  padding: 9px;
}


.inner-card{
  width: 100%;
}

.field{
  display: flex;
  justify-content: space-between;
    flex-direction: column;
}
// .input1{
//   border: none;
// padding: 15px;
// }

.mat-form-field-appearance-outline .mat-form-field-outline-start 
.alignment{
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
}