.card {
  // display: flex;
  // justify-content: center;
  //   width: 60%;
  // border: 1px solid;
  // align-content: flex-start;
  box-shadow: 1px 1px 6px 1px #848181;
}

.outter-card {
  width: 50%;
  margin: auto;
}

.form-text {
  display: flex;
  flex-direction: column;
}
.create {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}
.button {
  border: none;
}

.inner-card {
  width: 100%;
}

.field {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
// .input1{
//   border: none;
// padding: 15px;
// }

.mat-form-field-appearance-outline .mat-form-field-outline-start .alignment {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.take-note-card {
  max-width: 500px;
  min-width: 300px;
  width: 60%;
}

.title-text {
  font-size: large;
  font-weight: 700;
  color: darkgray;
}
.item {
  width: 100%;
}
.w-75{
  width: 75%;
}
.w-25{
  width: 25%;
}
.w-100{
  width: 100%;
}