.card {
  display: flex;
  justify-content: center;
  //   width: 60%;
  // border: 1px solid;
  align-content: flex-start;
  box-shadow: 1px 1px 6px 1px #848181;
}

.inner-card {
  width: 50%;
  margin: auto;
}

.form-text {
  display: flex;
  flex-direction: column;
}
.create {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}
.button {
  display: flex;
  width: 30%;
  margin-left: auto;
}
