
<div class="outter-card">
  <div fxLayout="row" fxLayoutAlign="start stretch" >
    <mat-card
      class="card"
      *ngIf="!clicked"
      (click)="clicked = !clicked"
    >
      <div class="create">
        <p class="title-text">Take a note...</p>
        <img src="..\assets\create_black_24dp.svg" alt="">
      </div>
    </mat-card>
  </div>
  <div class=" card">
    <mat-card 
      *ngIf="clicked"
      >
      <form [formGroup]="getform" (ngSubmit)="submit()">
      <div class="field"  fxLayout="row" fxLayoutAlign="start stretch">
        <!-- <mat-form-field> -->
          <input type="text" class="input1" placeholder="Title" formControlName="title"/>
        <!-- </mat-form-field> -->
        <!-- <mat-form-field> -->
          <input type="text" class="input1" placeholder="Take a note..." formControlName="description"/>
        <!-- </mat-form-field> -->
        <button class="button" type="submit">close</button>
      </div>
      </form>
    </mat-card>
  </div>
</div>