<!-- <div class="box">
  <mat-card>
    <form class="form-text" [formGroup]="getform" (ngSubmit)="submit()">
      <div class="inner">
         <mat-form-field> 
          <h3>
            <input
              type="text"
              placeholder="Title"
              formControlName="title"
              [(ngModel)]="obj.title"
            />
          </h3>

          <textarea
            type="text"
            placeholder="Description"
            formControlName="description"
            [(ngModel)]="obj.description"
          ></textarea>

        <br/>
        <button class="button" type="submit">close</button>
      </div>
    </form>
  </mat-card>
</div> -->
<div class="container">
  <!-- <mat-card> -->
  <form class="form-text" [formGroup]="getform" (ngSubmit)="submit()">
    <div class="box">
      <input
        type="text"
        placeholder="Title"
        formControlName="title"
        [(ngModel)]="obj.title"
        class="input1"
      />
      <textarea
        type="text"
        placeholder="Description"
        formControlName="description"
        [(ngModel)]="obj.description"
        class="input1"
      ></textarea>
      <button class="button" type="submit">close</button>
    </div>
  </form>
  <!-- </mat-card> -->
</div>
