.card {
    display: flex;
    justify-content: center;
    //   width: 60%;
    // border: 1px solid;
    align-content: flex-start;
  }
  .box{
    display: flex;
    align-self: flex-start;
    width: 60%;
  }