<div class="box">
  <div class="division">
    <form action="" class="form">
      <div>
        <label for="" class="form-header">Google</label><br />
        <label for="" class="form-header">Create your Google Account</label>
      </div>
      <div>
        <div class="input-box">
          <mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input matInput value="" class="" />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Last name</mat-label>
            <input matInput value="" /> </mat-form-field
          ><br />
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>@gmail.com</mat-label>
            <input matInput value="" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>password</mat-label>
            <input matInput value="" />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Confirm password</mat-label>
            <input matInput value="" />
          </mat-form-field>
          <h5>
            <p>
              Use 8 or more characters with a mix of letters, numbers & symbols
            </p>
          </h5>
        </div>
        <div class="submit-row">
            <button class="button2">Sign in instead</button>
            <button class="button1">Next</button>
        </div>
      </div>
    </form>
  </div>
</div>
