.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    padding: 24px;
    display: flex;
    border-radius: 8px;
    border: 1px solid #dadce0;
  }

}

.w-48 {
  width: 48%;
}
.w-100 {
  width: 100%;
}
.h1-header {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}
.F-color{
  color: skyblue;
}
.u-color{
  color: yellow;
}
.n-color{
  color: green;
}
.d-color{
  color: tomato;
}
.o-color{
  color: blue;
}
.o-color{
  color: orange;
}
.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #f5f5f5;
}

.input-box {
  display: flex;
  justify-content: space-around;
}
.division {
  display: flex;
  direction: row;
}
.submit-row {
  display: flex;
  justify-content: space-between;
}
.button1 {
  background-color: #1a73e8;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px #aba5a5;
  cursor: pointer;
}
.button2 {
  background-color: transparent;
  color: #0f8ae2;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.header-text {
  color: #202124;
  padding-bottom: 0;
  padding-top: 16px;
  font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3333;
}
.image {
  width: 300px;
}
.image-context {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
