.form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #f5f5f5;
}

.input-box{
    display: flex;
    justify-content: space-around;
}
.box{
    padding-top: 7%;
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.division{
    display: flex;
    direction: row;
}
.submit-row{
    display: flex;
    justify-content: space-between;   
}
.button1{
    background-color: #2c83d4;
    color: #e5ecf1;
    width: 23%;
}
.button2{
    background-color: #d7e1eb;
    color: #0f8ae2;
    width: 35%
}