<div class="container">
  <div class="tile" *ngFor="let note of notesArray">
    <div class="inner-tile">
      <mat-card class="edit-tile" [style.backgroundColor]="note.color">
        <div (click)="edit(note)">
          <mat-card-title>{{ note.title }}</mat-card-title>
          <mat-card-content>
            <p class="card-description">
              {{ note.description }}
            </p>
          </mat-card-content>
        </div>
        <app-icon
          [card]="note"
          (refreshCauseArchieve)="getmessage()"
          (refreshCauseDeleted)="getmessage()"
          (refreshCauseColor)="getmessage()"
          [isArchieve]="isArchieve"
          [isTrash]="isTrash"
        ></app-icon>
      </mat-card>
    </div>
  </div>
</div>
