<div>
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="..\assets\keep_2020q4_48dp.png" alt="" />
    <h1 class="example-app-name">Fundoo</h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <!-- <mat-nav-list style="width: 250px " >
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{
          nav
        }}</a>
      </mat-nav-list> -->
      <mat-nav-list style="width: 250px ">
        <a mat-list-item routerLink=".">
          <img
            src="..\assets\lightbulb_black_24dp.svg"
            width="30px"
            height="30px"
            class="img-icon"
          />Notes
        </a>
      </mat-nav-list>
      <mat-nav-list style="width: 250px ">
        <a mat-list-item routerLink=".">
          <img
            src="..\assets\delete_outline_black_24dp.svg"
            width="30px"
            height="30px"
            class="img-icon"
          />Trash
        </a>
      </mat-nav-list>
      <mat-nav-list style="width: 250px ">
        <a mat-list-item routerLink=".">
          <img
            src="..\assets\create_black_24dp.svg"
            width="30px"
            height="30px"
            class="img-icon"
          />Edit-Label
        </a>
      </mat-nav-list>
      <mat-nav-list style="width: 250px ">
        <a mat-list-item routerLink=".">
          <img
            src="..\assets\archive_black_24dp.svg"
            width="30px"
            height="30px"
            class="img-icon"
          />Archieve
        </a>
      </mat-nav-list>
      <mat-nav-list style="width: 250px ">
        <a mat-list-item routerLink=".">
          <img
            src="..\assets\add_alert_black_24dp.svg"
            width="30px"
            height="30px"
            class="img-icon"
          />Reminder
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
